# Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# IntelliJ
.idea/
*.iml

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Environment files
.env

# Others
*.class

# Eclipse/STS
.project
.classpath
.csettings/
.settings/
bin/
tmp/
*.launch
*.swp
*.bak
*.tmp
*.orig
*.rej
*.sublime-workspace
*.sublime-project
.metadata/
local.properties
*.log
